body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #counterValue {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    font-size: 14px;
    margin: 5px;
  }
  
  